form > label {
  display: grid;
}

.formStyle {
  width: fit-content;
  justify-self: center;
}

#assistantSection {
  justify-self: center;
  background-color: lightgrey;
  border-radius: 20px;
  width: 30%;
  align-content: center;
}
